.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App div {
  background-color: rgb(120, 120, 163);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 200px;
}

.App img {
  width: 100%;
}
